server:
  port: 8080

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/ddportal?&useSSL=false&serverTimezone=UTC
    password: mysql4u
    username: root
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: create
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL5InnoDBDialect

jwt:
  secret: 'ReallySecretKey'